
      <div [hidden]="loggedIn">
         <form (ngSubmit)="onSubmit()">
					<mat-form-field class="full-width">
						<input type="text" mdInput [(ngModel)]="credential.username" name="username" id='username' placeholder="Your Username">
					</mat-form-field>
					<mat-form-field class="full-width">
						<input type="password" mdInput [(ngModel)]="credential.password" name="password" id='password' placeholder="Your Password">
					</mat-form-field>
					<button mat-raised-button type="submit" class="mat-primary">Login</button>
				</form>
      </div>

      <div [hidden]="!loggedIn">
        <h1>Finally logged in!!</h1>
      </div>
