<div class="container">
  <div class="row">
    <div>
      <h2 class="section-headline"><span>Home</span></h2>
    </div>
  </div>


  <div *ngIf = "!dataFetched" style="margin-top: 50px;">
    <div class="row">
      <div class="col-mat-2 col-mat-offset-5">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    </div>
  </div>


  <h2>{{locationService.currentCity}}</h2>


  <div class="container" *ngIf="dataFetched">
  </div>
    <a class="weatherwidget-io"
       [href]="'https://forecast7.com/en/' + '59d44' + '24d75' +'/' + locationService.currentCity + '/'"
       data-label_1="TALLINN"
       data-label_2="WEATHER"
       data-days="5"
       data-theme="weather_one">{{locationService.currentCity}} WEATHER</a>
    {{widgetService.testFunction()}}


</div>
