<div class="container">
  <div class="row">
    <div>
      <h2 class="section-headline" (click)="cardTable=!cardTable"><span>Products Available (Switch View)</span></h2>

    </div>
  </div>
</div>

<div *ngIf="!dataFetched" style="margin-top: 50px;">
  <div class="row">
    <div class="col-mat-2 col-mat-offset-5">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
</div>

<div *ngIf="cardTable" class="container">
  <table class="table table-hover"
         [class.mat-elevation-z18]=true id="productListTable"
         class="table bordered highlight">
    <thead>
    <tr>
      <th *ngIf="isAdmin">
        <input type="checkbox" (change)="updateSelected($event.target.checked)"/>
      </th>
      <th>Image</th>
      <th>Title</th>
      <th>In Stock</th>
      <th>Type</th>
      <th>Category</th>
      <th>Author</th>
      <th>Price</th>
      <th *ngIf="isAdmin">Operation</th>
    </tr>
    </thead>
    <tbody *ngIf="dataFetched">

    <ng-container  *ngFor="let inTable of productList">
    <tr *ngIf="inTable.active">
      <td *ngIf="isAdmin">
        <input hidden="hidden" name="id"/>
        <input type="checkbox" [checked]="allChecked"
               (change)="updateRemoveProductList($event.target.checked, inTable)"/>
      </td>

      <td><img class="img-responsive" src="http://localhost:8080/image/product/{{inTable.id}}.png" style="width:60px"/>
      </td>

      <td><a (click)="onSelect(inTable)" style="cursor:pointer">
        {{inTable.productTitle}}</a>
        <input hidden="hidden" name="id"/>
        <button *ngIf="isAdmin" mat-button (click)="onEdit(inTable)" value="View/Edit"><span
          class="fa fa-pencil"></span>
          View/Edit
        </button>
      </td>
      <td>{{inTable.inStockNumber}}</td>
      <td>{{inTable.productType}}</td>
      <td>{{inTable.productCategory}}</td>
      <td>{{inTable.productAuthor}}</td>
      <td>{{inTable.listPrice}}</td>
      <td *ngIf="isAdmin">
        <input hidden="hidden" name="id"/>
        <button mat-button (click)="openDialog(inTable)" value="delete"><span class="fa fa-times"></span> delete
        </button>
      </td>
    </tr>
    </ng-container>


    </tbody>
  </table>
  <tbody *ngIf="dataFetched">
  <button *ngIf="isAdmin" mat-raised-button [class.mat-elevation-z18]=true class="mat-warn" id="deleteSelected"
          (click)="removeSelectedProducts()">Delete Selected
  </button>
</div>


<br><br><br><br>

<div *ngIf="!cardTable" class="container">
  <div class="row">
    <div class="card">
      <ng-container *ngFor="let inCard of productList">
        <div class="col-md-5 mx-auto my-50" style="width: 25rem; margin-bottom: 50px;"
             *ngIf="inCard.active">
          <img class="card-img-top" src="http://localhost:8080/image/product/{{inCard.id}}.png" style="width:120px"
               alt="Card image">
          <div class="card-body">
            <h4 class="card-title"><a (click)="onSelect(inCard)" style="cursor:pointer">
              {{inCard.productTitle}}</a>

              <input hidden="hidden" name="id"/>
              <button *ngIf="isAdmin" mat-button (click)="onEdit(inCard)" value="View/Edit"><span
                class="fa fa-pencil"></span>
                View/Edit
              </button>
            </h4>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">Price: {{inCard.listPrice}} Euros</li>
              <li class="list-group-item">We have in stock {{inCard.inStockNumber}} units</li>
              <li class="list-group-item">Product category: {{inCard.productCategory}}</li>
              <li class="list-group-item">Product author: {{inCard.productAuthor}}</li>
            </ul>

            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
