<div class="container">
  <div class="row">
    <div>
      <h2 class="section-headline"><span>Products Available</span></h2>
    </div>
  </div>
</div>

<div *ngIf="!dataFetched" style="margin-top: 50px;">
  <div class="row">
    <div class="col-mat-2 col-mat-offset-5">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
</div>

<table class="table table-hover" [mfData]="productList | dataFilter : filterQuery"
       [class.mat-elevation-z18]=true id="productListTable"
       class="table bordered highlight">
  <thead>
  <tr>
    <th *ngIf="isAdmin">
      <input type="checkbox" (change)="updateSelected($event.target.checked)"/>
    </th>
    <th>Image</th>
    <th>Title</th>
    <th>In Stock</th>
    <th>Type</th>
    <th>Category</th>
    <th>Author</th>
    <th>Price</th>
    <th>Active?</th>
    <th *ngIf="isAdmin">Operation</th>
  </tr>
  </thead>
  <tbody *ngIf="dataFetched">
  <tr *ngFor="let inTable of productList">
    <td *ngIf="isAdmin">
      <input hidden="hidden" name="id"/>
      <input type="checkbox" [checked]="allChecked" (change)="updateRemoveProductList($event.target.checked, inTable)"/>
    </td>

    <td><img class="img-responsive" src="http://localhost:8080/image/product/{{inTable.id}}.png" style="width:60px"/>
    </td>

    <td><a (click)="onSelect(inTable)" style="cursor:pointer">
      {{inTable.productTitle}}</a>
      <input hidden="hidden" name="id"/>
      <button *ngIf="isAdmin" mat-button (click)="onEdit(inTable)" value="View/Edit"><span class="fa fa-pencil"></span>
        View/Edit
      </button>
    </td>
    <td>{{inTable.inStockNumber}}</td>
    <td>{{inTable.productType}}</td>
    <td>{{inTable.productCategory}}</td>
    <td>{{inTable.productAuthor}}</td>
    <td>{{inTable.listPrice}}</td>
    <td>{{inTable.active}}</td>
    <td *ngIf="isAdmin">
      <input hidden="hidden" name="id"/>
      <button mat-button (click)="openDialog(inTable)" value="delete"><span class="fa fa-times"></span> delete</button>
    </td>

  </tr>
  </tbody>
</table>
<tbody *ngIf="dataFetched">
<button *ngIf="isAdmin" mat-raised-button [class.mat-elevation-z18]=true class="mat-warn" id="deleteSelected"
        (click)="removeSelectedProducts()">Delete Selected
</button>

<br><br>

<div class="container">
  <div class="row">
    <div class="card">
      <div class="col-md-5 mx-auto my-50" style="width: 25rem; margin-bottom: 50px;" *ngFor="let inCard of productList">
        <img src="http://localhost:8080/image/product/{{inCard.id}}.png" style="width:120px" class="card-img-top">
        <div class="card-body">
          <h2><a (click)="onSelect(inCard)" style="cursor:pointer">
            {{inCard.productTitle}}</a>
            <input hidden="hidden" name="id"/>
            <button *ngIf="isAdmin" mat-button (click)="onEdit(inCard)" value="View/Edit"><span
              class="fa fa-pencil"></span>
              View/Edit
            </button>
          </h2>
          <h4>{{inCard.inStockNumber}}</h4>
          <h4>{{inCard.productType}}</h4>
          <h4>{{inCard.productCategory}}</h4>
          <h4>{{inCard.productAuthor}}</h4>
          <h4>{{inCard.listPrice}}</h4>
          <h4>{{inCard.active}}</h4>



          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
