<div class="container">
  <div class="row">
    <div>
      <h2 class="section-headline"><span>Edit Product</span></h2>
    </div>
  </div>

  <div [hidden]="productUpdated">
    <h3 style="margin-top: 30px;">Update Product Information <span style="font-size:small"><br>* is a required field</span></h3>


    <form (ngSubmit)="onSubmit()">

      <mat-grid-list cols="3" rowHeight="5:1">
        <mat-grid-tile>
          <mat-form-field class="example-full-width">
            <mat-label>Product Title</mat-label>
            <input matInput id="productTitle" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="product.productTitle" placeholder="Product Name">
          </mat-form-field>
        </mat-grid-tile>


        <mat-grid-tile [colspan]="1" [rowspan]="2">
          <mat-form-field class="example-full-width">
            <mat-label>Product Description</mat-label>
            <input matInput id= "productDescription" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="product.productDescription" placeholder="Description">
            <br><br>
            &nbsp;
            <input id="tile" type="file" id="productImage" name="productImage" (change)="imageUploadService.fileChangeEvent($event)">
          </mat-form-field>
        </mat-grid-tile>


        <mat-grid-tile>
          <mat-form-field class="example-full-width">
            <mat-label>Product Category</mat-label>
            <select matNativeControl required id="productCategory"
                    name="productCategory" [ngModelOptions]="{standalone: true}" [(ngModel)]="product.productCategory">
              <option value="Electronics">Electronics</option>
              <option value="Cosmetics">Cosmetics</option>
              <option value="Food">Food</option>
              <option value="Wine">Wines</option>
            </select>
          </mat-form-field>
        </mat-grid-tile>


        <mat-grid-tile>
          <mat-form-field class="example-full-width">
            <mat-label>Product Price</mat-label>
            <input matInput id="listPrice" type="number" step="0.01" [ngModelOptions]="{standalone: true}" [(ngModel)]="product.listPrice" placeholder="Price">
          </mat-form-field>
        </mat-grid-tile>


        <mat-grid-tile [colspan]="1" [rowspan]="2">
          <mat-form-field class="example-full-width">
            <mat-label>Inventory</mat-label>
            <input matInput id="inStockNumber" type="number" step="1" [ngModelOptions]="{standalone: true}" [(ngModel)]="product.inStockNumber" placeholder="Items in Stock">
          </mat-form-field>
          <mat-slide-toggle
            class="example-margin"
            id="active"
            [checked]=true
            [ngModelOptions]="{standalone: true}"
            [(ngModel)]="product.active">
            Active
          </mat-slide-toggle>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="fill">
            <mat-label>Product Type</mat-label>
            <select matNativeControl required id="productType"
                    name="productType" [ngModelOptions]="{standalone: true}" [(ngModel)]="product.productType">
              <option value="Type A">Type A</option>
              <option value="Type B">Type B</option>
              <option value="Type C">Type C</option>
              <option value="Type D">Type D</option>
            </select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="fill">
            <mat-label>Product Author</mat-label>
            <select matNativeControl required id="productAuthor"
                    name="productAuthor" [ngModelOptions]="{standalone: true}" [(ngModel)]="product.productAuthor">
              <option value="Budarin">Budarin</option>
              <option value="Tubli">Tubli</option>
              <option value="Krivorokov">Krivorokov</option>
              <option value="Olivier">Olivier</option>
            </select>
          </mat-form-field>
        </mat-grid-tile>

      </mat-grid-list>


      <mat-grid-list cols="1" rowHeight="10:1">
        <mat-grid-tile>
          <button class="mat-primary" mat-raised-button type="submit">Update Product</button>
          <button class="mat-warn" mat-raised-button routerLink="/">Cancel</button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </div>



  <div class="row" [hidden]="!productUpdated">
    <h3>Product updated successfully!</h3>
  </div>



