
<div class="page-top" style="width: 100%; height: 95px; background-color: #bad7af">

  <div *ngIf = "!locationService.dataFetched" align="center">
    <h2>Weather for {{locationService.currentCity}} will appear here:</h2>
    <div class="row">
      <div class="col-mat-2 col-mat-offset-5">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    </div>
  </div>

  <!--data-label_1="TALLINN"
data-label_2="WEATHER" -->

  <div class="page-top" *ngIf="locationService.dataFetched">
    <a class="weatherwidget-io"
       [href]="'https://forecast7.com/en/' + locationService.gotLng + locationService.gotLat +'/' + locationService.currentCity + '/'"
       data-days="5"
       data-icons="Climacons Animated"
       data-theme="weather_one">{{locationService.currentCity}} WEATHER</a>
    {{widgetService.testFunction()}}
  </div>
</div>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand pointer" routerLink="/home">SDA FINAL Online Store</a>
    </div>

    <div id="navbar">
      <ul class="nav navbar-nav navbar-left">
        <li><a mat-button routerLink="/productList">PRODUCT</a></li>

        <form  class="navbar-form">
          <div class="form-group">
            <input type="text" name="searchByTitle" class="form-control" placeholder="Product Title" />
          </div>
          <button type="submit" class="mat-flat-button">Search</button>
        </form>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!loggedIn">
          <a mat-button routerLink="/myAccount">MY ACCOUNT</a>
        </li>
        <li *ngIf="isAdmin">
          <a mat-button routerLink="/addNewProduct">ADD NEW PRODUCT</a>
        </li>
        <li *ngIf="loggedIn">
          <a mat-button routerLink="/shoppingCart">SHOPPING CART</a>
        </li>
        <li *ngIf="loggedIn">
          <a mat-button routerLink="/myProfile">MY PROFILE</a>
        </li>
        <li *ngIf="loggedIn">
          <a mat-button (click)="logout()">LOGOUT</a>
        </li>
      </ul>
    </div>




  </div>
</nav>
